body {
    font-family: Arial, sans-serif;
    padding:20px;
}
h2{
    text-align:center;
}
table{
    width:100%;
    border-collapse: collapse;
    border-radius: 10px;
   
}
table , th ,td{
    border : 1px solid #999;
}
th, td{
    text-align: center;
    padding:8px;
}
thead{
    background-color: #f2f2f2;
}

  /* Color LAB classes */
td.lab {
    background-color: #d6f5d6;
    font-weight: bold;
}

  /* Color theory classes */
td.theory {
    background-color: #d6e0f5;
}
tr:hover{
    background-color: #f0f8ff;
}  